<h2 class="w3-wide w3-center w3-padding-32">WELCOME</h2>
<div>
    <p class="mb-0" style="font-size: 1.2em; padding:1em">
        
        Welcome to ArtGallery.com, the one-stop destination for all the art lovers.
         Art has always been an integral part of society, not today but since the time humans had started civilizing. Not just the photographic presentation of the shapes around,
          art also tends to depict and share the complete experience of the moment enveloped in those photographs. Love, passion, and admiration of art stem up the basis of ArtGallery.com. 
          Various kinds of art forms have existed and still exist in this world, each of which has a unique story and technique involved with it. Each artist associates himself with a certain school of imagination. 
          Be it Ancient Indian heritage art forms or the abstract art or the contemporary or the modern art and whatnot, ArtGallery.com has them all. Also, not restricting itself to only paintings ArtZolo.com 
          envelopes a large array of Sculptures and Wall Murals as well. With the wide range of artists and artforms,
         ArtGallery.com is the one-stop solution for all the artists and art lovers.
    </p>

</div>



<div class="heading">
  <h3 style="text-align: center;">TRENDING</h3>
</div>
      

         
            
          
          
<div class="container">
        
  <div class="row">
    <div class="card-deck">
<article   class="col-md-4 col-lg-3">
  <div class="card-content">
            
                
              <a data-toggle="modal" href="#myModal">
              <img class="spectrum1" src="./assets/tamatina/tart1.jpg"  alt="meow"></a>
             
              <h5 class="spectrum-h2">Dancing People</h5>
                <p>Tamatina Modern Art</p>
                <p class="text-align:right">Rs.2000</p>
                <button type="button" class="btn btn-outline-dark btn-sm " data-toggle="modal"   data-target="#myModal">VIEW</button> &nbsp;&nbsp;
               
                <button (click)="buy(101)" class="btn btn-outline-dark btn-sm " >ADD</button>
             
                <div class="panel-body modal fade bs-example-modal-lg"  id="myModal" >
                  <div class="modal-dialog modal-dialog-centered modal-dialog-lg ">
                    <div class="modal-content">
                
                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">Product</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                
                      <!-- Modal body -->
                      <div class="modal-body">
                        
                        <img class="spectrum2" src="./assets/tamatina/tart1.jpg" alt="meow">
                        <h5 class="spectrum-h2">Dancing People</h5>
                        <p>Tamatina Modern Art</p>
                        <p class="text-align:right">Rs.2000</p>
                      </div>
                
                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="buy(101)" >ADD</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      </div>
                
                    </div>
                  </div>
                </div>
              </div>
        
        </article>
        <article   class="col-md-4 col-lg-3">
          <div class="card-content">
                    
                        
                      <a data-toggle="modal" href="#myModal1">
                      <img class="spectrum1" src="./assets/tamatina/tart2.jpg"  alt="meow"></a>
                     
                      <h5 class="spectrum-h2">Lord Krishna & Radha</h5>
                        <p>Tamatina Modern Art</p>
                        <p class="text-align:right">Rs.2500</p>
                        <button type="button" class="btn btn-outline-dark btn-sm " data-toggle="modal"   data-target="#myModal1">VIEW</button> &nbsp;&nbsp;
                       
                        <button (click)="buy(102)" class="btn btn-outline-dark btn-sm " >ADD</button>
                     
                        <div class="panel-body modal fade bs-example-modal-lg"  id="myModal1" >
                          <div class="modal-dialog modal-dialog-centered ">
                            <div class="modal-content">
                        
                              <!-- Modal Header -->
                              <div class="modal-header">
                                <h4 class="modal-title">Product</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                              </div>
                        
                              <!-- Modal body -->
                              <div class="modal-body">
                                
                                <img class="spectrum2" src="./assets/tamatina/tart2.jpg" alt="meow">
                                <h5 class="spectrum-h2">Lord Krishna & Radha</h5>
                                <p>Tamatina Modern Art</p>
                                <p class="text-align:right">Rs.2500</p>
                              </div>
                        
                              <!-- Modal footer -->
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" (click)="buy(102)" >ADD</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                              </div>
                        
                            </div>
                          </div>
                        </div>
                      </div>
                
                </article>
                <article   class="col-md-4 col-lg-3">
                  <div class="card-content">
                            
                                
                              <a data-toggle="modal" href="#myModal2">
                              <img class="spectrum1" src="./assets/tamatina/tart3.jpg"  alt="meow"></a>
                             
                              <h5 class="spectrum-h2">Sufi Dance</h5>
                                <p>Tamatina Modern Art</p>
                                <p class="text-align:right">Rs.3000</p>
                                <button type="button" class="btn btn-outline-dark btn-sm " data-toggle="modal"   data-target="#myModal2">VIEW</button> &nbsp;&nbsp;
                               
                                <button (click)="buy(103)" class="btn btn-outline-dark btn-sm " >ADD</button>
                             
                                <div class="panel-body modal fade bs-example-modal-lg"  id="myModal2" >
                                  <div class="modal-dialog modal-dialog-centered ">
                                    <div class="modal-content">
                                
                                      <!-- Modal Header -->
                                      <div class="modal-header">
                                        <h4 class="modal-title">Product</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      </div>
                                
                                      <!-- Modal body -->
                                      <div class="modal-body">
                                        
                                        <img class="spectrum2" src="./assets/tamatina/tart3.jpg" alt="meow">
                                        <h5 class="spectrum-h2">Sufi Dance</h5>
                                        <p>Tamatina Modern Art</p>
                                        <p class="text-align:right">Rs.3000</p>
                                      </div>
                                
                                      <!-- Modal footer -->
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" (click)="buy(103)" >ADD</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                      </div>
                                
                                    </div>
                                  </div>
                                </div>
                              </div>
                        
                        </article>
                        <article   class="col-md-4 col-lg-3">
                          <div class="card-content">
                                    
                                        
                                      <a data-toggle="modal" href="#myModal3">
                                      <img class="spectrum1" src="./assets/tamatina/tart5.jpg"  alt="meow"></a>
                                     
                                      <h5 class="spectrum-h2">Women Dancing</h5>
                                        <p>Tamatina Modern Art</p>
                                        <p class="text-align:right">Rs.2000</p>
                                        <button type="button" class="btn btn-outline-dark btn-sm " data-toggle="modal"   data-target="#myModal3">VIEW</button> &nbsp;&nbsp;
                                       
                                        <button (click)="buy(102)" class="btn btn-outline-dark btn-sm " >ADD</button>
                                     
                                        <div class="panel-body modal fade bs-example-modal-lg"  id="myModal3" >
                                          <div class="modal-dialog modal-dialog-centered ">
                                            <div class="modal-content">
                                        
                                              <!-- Modal Header -->
                                              <div class="modal-header">
                                                <h4 class="modal-title">Product</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              </div>
                                        
                                              <!-- Modal body -->
                                              <div class="modal-body">
                                                
                                                <img class="spectrum2" src="./assets/tamatina/tart5.jpg" alt="meow">
                                                <h5 class="spectrum-h2">Women Dancing</h5>
                                                <p>Tamatina Modern Art</p>
                                                <p class="text-align:right">Rs.2000</p>
                                              </div>
                                        
                                              <!-- Modal footer -->
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" (click)="buy(104)" >ADD</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                              </div>
                                        
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                
                                </article>
                                <article   class="col-md-4 col-lg-3">
                                  <div class="card-content">
                                            
                                                
                                              <a data-toggle="modal" href="#myModal4">
                                              <img class="spectrum1" src="./assets/tamatina/tart6.jpg"  alt="meow"></a>
                                             
                                              <h5 class="spectrum-h2">Lord Ganesha</h5>
                                                <p>Tamatina Modern Art</p>
                                                <p class="text-align:right">Rs.3000</p>
                                                <button type="button" class="btn btn-outline-dark btn-sm " data-toggle="modal"   data-target="#myModal4">VIEW</button> &nbsp;&nbsp;
                                               
                                                <button (click)="buy(105)" class="btn btn-outline-dark btn-sm " >ADD</button>
                                             
                                                <div class="panel-body modal fade bs-example-modal-lg"  id="myModal4" >
                                                  <div class="modal-dialog modal-dialog-centered ">
                                                    <div class="modal-content">
                                                
                                                      <!-- Modal Header -->
                                                      <div class="modal-header">
                                                        <h4 class="modal-title">Product</h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                      </div>
                                                
                                                      <!-- Modal body -->
                                                      <div class="modal-body">
                                                        
                                                        <img class="spectrum2" src="./assets/tamatina/tart6.jpg" alt="meow">
                                                        <h5 class="spectrum-h2">Lord Ganesha</h5>
                                                        <p>Tamatina Modern Art</p>
                                                        <p class="text-align:right">Rs.3000</p>
                                                      </div>
                                                
                                                      <!-- Modal footer -->
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" (click)="buy(105)" >ADD</button>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                      </div>
                                                
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                        
                                        </article>
                                        <article   class="col-md-4 col-lg-3">
                                          <div class="card-content">
                                                    
                                                        
                                                      <a data-toggle="modal" href="#myModal5">
                                                      <img class="spectrum1" src="./assets/tamatina/tart7.jpg"  alt="meow"></a>
                                                     
                                                      <h5 class="spectrum-h2">Flora Art</h5>
                                                        <p>Tamatina Modern Art</p>
                                                        <p class="text-align:right">Rs.2500</p>
                                                        <button type="button" class="btn btn-outline-dark btn-sm " data-toggle="modal"   data-target="#myModal5">VIEW</button> &nbsp;&nbsp;
                                                       
                                                        <button (click)="buy(106)" class="btn btn-outline-dark btn-sm " >ADD</button>
                                                     
                                                        <div class="panel-body modal fade bs-example-modal-lg"  id="myModal5" >
                                                          <div class="modal-dialog modal-dialog-centered ">
                                                            <div class="modal-content">
                                                        
                                                              <!-- Modal Header -->
                                                              <div class="modal-header">
                                                                <h4 class="modal-title">Product</h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                              </div>
                                                        
                                                              <!-- Modal body -->
                                                              <div class="modal-body">
                                                                
                                                                <img class="spectrum2" src="./assets/tamatina/tart7.jpg" alt="meow">
                                                                <h5 class="spectrum-h2">Flora Art</h5>
                                                                <p>Tamatina Modern Art</p>
                                                                <p class="text-align:right">Rs.2500</p>
                                                              </div>
                                                        
                                                              <!-- Modal footer -->
                                                              <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger" (click)="buy(106)" >ADD</button>
                                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                              </div>
                                                        
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                
                                                </article>
                                                <article   class="col-md-4 col-lg-3">
                                                  <div class="card-content">
                                                            
                                                                
                                                              <a data-toggle="modal" href="#myModal6">
                                                              <img class="spectrum1" src="./assets/tamatina/tart9.jpg"  alt="meow"></a>
                                                             
                                                              <h5 class="spectrum-h2">Figurative Painting</h5>
                                                                <p>Canvas Painting</p>
                                                                <p class="text-align:right">Rs.5000</p>
                                                                <button type="button" class="btn btn-outline-dark btn-sm " data-toggle="modal"   data-target="#myModal6">VIEW</button> &nbsp;&nbsp;
                                                               
                                                                <button (click)="buy(107)" class="btn btn-outline-dark btn-sm " >ADD</button>
                                                             
                                                                <div class="panel-body modal fade bs-example-modal-lg"  id="myModal6" >
                                                                  <div class="modal-dialog modal-dialog-centered ">
                                                                    <div class="modal-content">
                                                                
                                                                      <!-- Modal Header -->
                                                                      <div class="modal-header">
                                                                        <h4 class="modal-title">Product</h4>
                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                      </div>
                                                                
                                                                      <!-- Modal body -->
                                                                      <div class="modal-body">
                                                                        
                                                                        <img class="spectrum2" src="./assets/tamatina/tart9.jpg" alt="meow">
                                                                        <h5 class="spectrum-h2">Figurative Painting</h5>
                                                                        <p>Canvas Painting</p>
                                                                        <p class="text-align:right">Rs.5000</p>
                                                                      </div>
                                                                
                                                                      <!-- Modal footer -->
                                                                      <div class="modal-footer">
                                                                        <button type="button" class="btn btn-danger" (click)="buy(107)" >ADD</button>
                                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                                      </div>
                                                                
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                        
                                                        </article>
                                                        <article   class="col-md-4 col-lg-3">
                                                          <div class="card-content">
                                                                    
                                                                        
                                                                      <a data-toggle="modal" href="#myModal7">
                                                                      <img class="spectrum1" src="./assets/tamatina/tart10.jpeg"  alt="meow"></a>
                                                                     
                                                                      <h5 class="spectrum-h2">Flora Painting</h5>
                                                                        <p>Tamatina Modern Art</p>
                                                                        <p class="text-align:right">Rs.2000</p>
                                                                        <button type="button" class="btn btn-outline-dark btn-sm " data-toggle="modal"   data-target="#myModal7">VIEW</button> &nbsp;&nbsp;
                                                                       
                                                                        <button (click)="buy(108)" class="btn btn-outline-dark btn-sm " >ADD</button>
                                                                     
                                                                        <div class="panel-body modal fade bs-example-modal-lg"  id="myModal7" >
                                                                          <div class="modal-dialog modal-dialog-centered ">
                                                                            <div class="modal-content">
                                                                        
                                                                              <!-- Modal Header -->
                                                                              <div class="modal-header">
                                                                                <h4 class="modal-title">Product</h4>
                                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                              </div>
                                                                        
                                                                              <!-- Modal body -->
                                                                              <div class="modal-body">
                                                                                
                                                                                <img class="spectrum2" src="./assets/tamatina/tart10.jpeg" alt="meow">
                                                                                <h5 class="spectrum-h2">Flora Painting</h5>
                                                                                <p>Tamatina Modern Art</p>
                                                                                <p class="text-align:right">Rs.2000</p>
                                                                              </div>
                                                                        
                                                                              <!-- Modal footer -->
                                                                              <div class="modal-footer">
                                                                                <button type="button" class="btn btn-danger" (click)="buy(108)" >ADD</button>
                                                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                                              </div>
                                                                        
                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                
                                                                </article>
        </div>
        </div>
      </div>
       
          
     
     
    
   


         
         
          <!-- <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered ">
              <div class="modal-content">
          
               
                <div class="modal-header">
                  <h4 class="modal-title">Modal Heading</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
               
                <div class="modal-body">
                  Modal body..
                  <img class="spectrum2" src="./assets/tamatina/tart1.jpg" alt="meow">
                </div>
          
               
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
          
              </div>
            </div>
          </div> -->
      
          <!-- <article class="col-md-4 col-lg-3">
            <div class="card-content">
              <img class="spectrum1" src="./assets/tamatina/tart2.jpg" alt="meow">
              <h4 class="spectrum-h2">Tamatina Modern Art Canvas Paintings</h4>
                <p>Visit our world-class analytical facility for South African scientists, Spectrum</p>
            </div>
           
           
          </article>
          
      
          <article class="col-md-4 col-lg-3">
            <div class="card-content">
             <img class="spectrum1" src="./assets/tamatina/tart3.jpg" alt="meow">
              <h4 class="spectrum-h2">Tamatina Modern Art Canvas Paintings</h4>
              <p>Visit our world-class analytical facility for South African scientists, Spectrum</p>
            </div>
           
           
          </article>
        
      
         
          <article class="col-md-4 col-lg-3">
            <div class="card-content">
             <img class="spectrum1" src="./assets/tamatina/tart5.jpg" alt="meow">
              <h4 class="spectrum-h2">Tamatina Modern Art Canvas Paintings</h4>
              <p>Visit our world-class analytical facility for South African scientists, Spectrum</p>
            </div>
           
           
          </article>
          <article class="col-md-4 col-lg-3">
            <div class="card-content">
              <img class="spectrum1" src="./assets/tamatina/tart6.jpg" alt="meow">
              <h4 class="spectrum-h2">Tamatina Modern Art Canvas Paintings</h4>
              <p>Visit our world-class analytical facility for South African scientists, Spectrum</p>
            </div>
          
          </article>
          <article class="col-md-4 col-lg-3">
            <div class="card-content">
              <img class="spectrum1" src="./assets/tamatina/tart7.jpg" alt="meow">
              <h4 class="spectrum-h2">Tamatina Modern Art Canvas Paintings</h4>
              <p>Visit our world-class analytical facility for South African scientists, Spectrum</p>
            </div>
          
           
          </article>
         
          <article class="col-md-4 col-lg-3">
            <div class="card-content">
             <img class="spectrum1" src="./assets/tamatina/tart9.jpg" alt="meow">
              <h4 class="spectrum-h2">Tamatina Modern Art Canvas Paintings</h4>
              <p>Visit our world-class analytical facility for South African scientists, Spectrum</p>
            </div>
           
           
          </article>
          <article class="col-md-4 col-lg-3">
            <div class="card-content">
             <img class="spectrum1" src="./assets/tamatina/tart10.jpeg" alt="meow">
              <h4 class="spectrum-h2">Tamatina Modern Art Canvas Paintings</h4>
              <p>Visit our world-class analytical facility for South African scientists, Spectrum</p>
            </div>
           
           
          </article> -->
          
       
   
